* {
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
*{
    border:red solid 1px;
}
/*cursor*/
.cursor .cursor--small,
.cursor .cursor--large,
.cursor .cursor--text{
    position: fixed;
    left: 0;
    top: 0;
    transform: translate(-50%,-50%);
    width: var(--size);
    height: var(--size);
    mix-blend-mode: difference;
    border-radius: 50%;
    pointer-events: none;
    user-select: none;
}
.cursor .cursor--text{
    --size:fit-content;
    font-size: 0.75rem;
    color: #fff;
    opacity: 0;
}
.cursor .cursor--text .text{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    animation: rotate-360 8s linear infinite;
}
.cursor .cursor--small{
    --size:20px;
    background: #fff;
}

.cursor .cursor--large{
    --size:60px;
    border: 2px solid #fff;
}
@keyframes rotate-360{
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}

/*landing_page*/
body
{
    display: flex;
    min-height: 1000px;
}

header
{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    padding: 0 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: 1s;
    background: black;
}
header.sticky
{
    height: 80px;
}
header .banner
{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover
}
header.sticky .banner
{
    opacity: 0.5;
}
header.sticky .logo
{
    position: absolute;
    font-size: 2em;
    left: 100px;
    transform: translate(0%,-50%);
}
header .logo
{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 15vw;
    color: whitesmoke;
    font-weight: 700;
    transition: 1s;
    text-decoration: none;
    z-index: 1;
}
nav
{
    position: relative;
    display: flex;
    z-index: 1;
}
nav ul
{
    position: relative;
    display: flex;
    transform: 0.25s;
    transform: translateX(100px);
    opacity: 0;
}
header.sticky nav ul
{
    transform: translateX(0);
    opacity: 1;
    transition-delay: 0.75s;
    opacity: 1;
    visibility: visible;
}
nav ul li
{
list-style: none;
}
nav ul li a
{
    color: whitesmoke;
    display: inline-block;
    padding: 10px 15px;
    font-size: 1.2em;
    text-decoration: none;
}
nav ul li a:hover
{
    color: #575757;
}
.btn
{
    position: relative;
    display: inline-flex;
    padding: 10px 30px;
    background: #575757;
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    overflow: hidden;
    border-radius: 3px;
    margin: 10px;
    height: 35px;
}
.btn span
{
    position: relative;
    z-index: 1;
}
.btn::before
{
    content: '';
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(-50%,-50%);
    width: 0;
    height: 0;
    border-radius: 50%;
    background: #a7a7a7;
    transition: width 0.5s, height 0.5s;
}

.btn:hover::before
{
    width: 300px;
    height: 300px;

}
.text-intro
{
    color: white;
    font-size: 100px;
    padding: 100px;
    margin-left: 100px;

}
section
{
    margin-top: 30vh;
    padding: 100px;
    width: 100%;
    height: 100%;
}
section h2
{
    font-size: 3em;
}
section p
{
    font-size: 1.2em;
}

.img-log{
    width: 50px;
    height: 50px;
}
@media(max-width:990px)
{
    section,
    header{
        padding: 40px;

    }
    section h2{
        font-size:2em;
    }
    header.sticky .logo{
        left: 40px;
    }
    header.sticky .banner{
        opacity: 0;
    }
    nav ul{
        display: none;
        opacity: 0;
        visibility: hidden;
    }
    nav.active ul{
        position: fixed;
        top: 80px;
        left: 0;
        width: 100%;
        height: calc(100%-80px);
        background: #000;
        justify-content: center;
        align-items:center;
        flex-direction: column;
    }

    nav ul li a{
        font-size: 1.5em;
        padding: 5px 15px;
    }
    header.sticky .toggle{
        position: fixed;
        top: 15px;
        right: 40px;
        width: 50px;
        height: 50px;
        cursor: pointer;
        background: #fff url(pictures/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position:center;
    }
    header.sticky .toggle.active{
        background: #fff url(pictures/close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position:center;
    }

}
/* fin landing_page*/